Current Version: 2.32
<br>
<p>Upcoming Features:</p>
<ul>
    <li>Allowing File Uploads when Updating Change (5/14/2021)</li>
    <li>Admin User Management Panel Upgrade (5/14/2021)</li>
    <li>Add a Add Change Button to Pages (5/14/2021)</li>
    <li>Advanced Form Data Validations</li>
    <li>Reports (5/15/2021)</li>
    <li>Automated Account Creation Emails (TBD)</li>
    <li>Change Calendar (TBD)</li>
    <li>Adding Downtime Field</li>
    <li>Adding Priority Field</li>
    <li>Add a Add Change Button to Pages</li>
    <li>Implement Save/Update Buttons to Change</li>
</ul>

<a href="/"><button>Back to Dashboard</button></a>