{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>REQ{{change.id}}: {{change.shortDescription}}</h3>
						</div>

						<div class="col-auto ms-auto text-end mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<!-- <li class="breadcrumb-item"><a href="/delete/{{change.id}}"><button class="btn btn-danger">Delete</button></a></li> -->
									<!-- Modal Start -->
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#sizedModalSm">
										Delete
									</button>
									<div class="modal fade" id="sizedModalSm" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-sm" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Confirm Delete</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body m-3">
													<h4 class="mb-0" style="text-align: center;">You are about to delete <strong>REQ{{change.id}}: {{change.shortDescription}}</strong></h4>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
													<a href="/delete/{{change.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
												</div>
											</div>
										</div>
									</div>
									<!-- Modal End -->
								</ol>
							</nav>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<form class="needs-validation" action='/update-change/{{change.id}}' method='post' novalidate>
										{% csrf_token %}
										<div class="row">
											<div class="col-12 col-xl-6">
												<div class="mb-3">
													<label class="form-label">Change Request ID</label>
													<input type="text" class="form-control" name="id" id="startDate" value="REQ{{change.id}}" disabled/>
												</div>
											</div>
											<div class="mb-3 col-md-6">
												<label class="form-label">Status</label>
												<select name="status" class="form-select">
													{% for x,y in statuses %}
													{% if x == change.status %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
													{% for x,y in statuses %}
													{% if x != change.status %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-xl-6">
												<div class="mb-3">
													<label class="form-label">Entry Date</label>
													<input type="text" class="form-control" name="entryDate" id="startDate" value="{{change.entryDate|date:'Y-m-d'}}" disabled/>
												</div>
											</div>
											<div class="col-12 col-xl-6">
												<div class="mb-3">
													<label class="form-label">Target Completion Date</label>
													<input type="text" class="form-control flatpickr-minimum" name="targetDate" id="endDate" placeholder="Select date.." value="{{change.targetDate|date:'Y-m-d'}}"/>
												</div>
											</div>
										</div>

										<!-- Sample JS Validation -->
										<!-- <div class="mb-3">
											<label for="validationCustomUsername" class="form-label">Username</label>
											<div class="input-group">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
													required>
												<div class="invalid-feedback">
													Please choose a username.
												</div>
											</div>
										</div> -->
										<!-- End Sample JS Validation -->

										<div class="row">
											<div class="mb-3 col-md-6">
												<label class="form-label">Request Type</label>
												<select name="requestType" class="form-select">
													{% for x,y in types %}
													{% if x == change.requestType %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
													{% for x,y in types %}
													{% if x != change.requestType %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
												</select>
											</div>
											<div class="mb-3 col-md-6">
												<label class="form-label" for="inputPassword4">Requestor</label>
												<input type="text" class="form-control" name="requestor" id="requestor" value="{{change.requestor.firstName}} {{change.requestor.lastName}} ({{change.requestor.email}})" disabled>
											</div>
										</div>
										<div class="row">
											<div class="mb-3 col-md-6">
												<label class="form-label">Enviornment</label>
												<select name="environment" class="form-select">
													{% for x,y in environments %}
													{% if x == change.environment %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
													{% for x,y in environments %}
													{% if x != change.environment %}
													<option value={{x}}>{{y}}</option>
													{% endif %}
													{% endfor %}
												</select>
											</div>
											<div class="mb-3 col-md-6">
												<label class="form-label">Assignee</label>
												<select name="assignee" class="form-select">
													{% if change.assignee == None %}
													<option value="None">No Assignee</option>
													{% else %}
													<option value={{change.assignee.id}}>{{change.assignee.firstName}} {{change.assignee.lastName}} ({{change.assignee.email}})</option>
													<option value="None">No Assignee</option>
													{% endif %}
													{% for user in users %}
													{% if user != change.assignee %}
													<option value={{user.id}}>{{user.firstName}} {{user.lastName}} ({{user.email}})</option>
													{% endif %}
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label" for="inputAddress">Short Description</label>
											<input type="text" class="form-control" name="shortDescription" id="inputAddress" placeholder="Title / Issue" value='{{change.shortDescription}}'>
										</div>
										<div class="mb-3">
											<label class="form-label" for="inputAddress2">Full Description / Notes</label>
											<textarea type="text" class="form-control" name="longDescription" id="inputAddress2" placeholder="Data Being Changed / Permissions / Etc.">{{change.longDescription}}</textarea>
										</div><div class="mb-3">
											<label class="form-label" for="inputAddress2">Change Impact</label>
											<textarea type="text" class="form-control" name="changeImpact" id="inputAddress2" placeholder="What could be impacted by this change?">{{change.changeImpact}}</textarea>
										</div>
										<div class="mb-3">
											{% if change.fileUpload != "/media/" %}
											Supplemental File: <a href="{{change.fileUpload}}" target="_blank">{{change.fileUpload}}</a>
											<br><br>
											<label class="form-label w-100">Replace File</label>
											<input type="file" name=fileUpload>
											{% else %}
											<label class="form-label w-100">Supplemental File</label>
											<input type="file" name=fileUpload>
											{% endif %}
											<!-- <small class="form-text text-muted">Example block-level help text here.</small> -->
										</div>
										<button type="submit" class="btn btn-primary">Save</button>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			{% endblock %}